@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-bg: #0C1618;
  --color-teal: #004643;
  --color-cream: #FAF4D3;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-cream);
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto';
}

/* Fade-in animation for page load */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Define the animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Apply it to the body or a wrapper div */
.fade-in-page {
  animation: fadeIn 0.8s ease-in-out;
}